@font-face {
    font-family: "ambulance";
    src: url('../fonts/ambulanceshotgun.ttf');
}
@font-face {
  font-family: "28days";
  src: url('../font/28dayslater.ttf');
}

body {
  background: url('../images/hiphop1.jpg');
  background-size: cover;
}


.text-center.titlescreen {
  font-family: ambulance;
  color: red;
  font-size: 75px;
}

  
.jumbotron {
  margin: 20px 50px 20px 50px;
  box-sizing: border-box;
  /*height: 100%;*/
  background-color: grey;
}

.main-button-container {
  margin-top: 200px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.timerTag {
  margin-top: 40px;
  font-size: 60px;
  font-family: ambulance;
  color: yellow;
} 
.questionTag {
  font-family: 28days;
  color: yellow;
}
.wronganswer{
  font-size: 60px;
  color: magenta;
}

.answer:hover {
  background: orange;
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: red;
  padding-left: 14px;
  background-color: grey;
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}
